<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RagsDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RagsDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RagsDesigner.Properties.Settings>
            <setting name="RagsDesigner_com_ragsgame_www_CheckUpdates" serializeAs="String">
                <value>http://ragsgame.com/CheckUpdates.asmx</value>
            </setting>
        </RagsDesigner.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RagsDesigner.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunGameCheckOnSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayNewGameDialogAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Splitcontainer2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Splitter2Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Splitter3Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Splitcontainer4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Splitcontainer5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Splitcontainer6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Splitcontainer7" serializeAs="String">
                <value>0</value>
            </setting>
        </RagsDesigner.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
